force-app/main/default/flows/Lead_Conversion_Task_Creation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <fullName>Lead_Conversion_Task_Creation</fullName>
    <label>Lead Conversion - Create Discovery Call Task</label>
    <description>When a Lead is converted, automatically creates a Task assigned to the new Opportunity owner with subject "Schedule discovery call." Ensures converted leads don't fall through the cracks.</description>
    <apiVersion>65.0</apiVersion>
    <interviewLabel>Lead Conversion Task {!$Flow.CurrentDateTime}</interviewLabel>
    <processType>AutoLaunchedFlow</processType>
    <status>Active</status>

        <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_If_Opportunity_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsConverted</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Lead</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>

        <decisions>
        <name>Check_If_Opportunity_Exists</name>
        <label>Check If Opportunity Exists</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <defaultConnectorLabel>No Opportunity</defaultConnectorLabel>
        <rules>
            <name>Has_Opportunity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ConvertedOpportunityId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Discovery_Call_Task</targetReference>
            </connector>
            <label>Has Opportunity</label>
        </rules>
    </decisions>

        <recordCreates>
        <name>Create_Discovery_Call_Task</name>
        <label>Create Discovery Call Task</label>
        <locationX>264</locationX>
        <locationY>278</locationY>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Schedule discovery call</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.ConvertedOpportunityId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.ConvertedOpportunity.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>This lead was just converted. Schedule a discovery call with the prospect to understand their needs, timeline, and budget. Review the lead source and any notes from the SDR before reaching out.</stringValue>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
</Flow>
