force-app/main/default/flows/Lead_Conversion_Task_Creation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<!--
  Flow: Lead Conversion — Auto-Create Discovery Call Task
  =======================================================
  This is a Record-Triggered Flow — Salesforce's primary declarative automation tool.
  Think of Flows like event-driven workflows: "when X happens, do Y."

  What this Flow does:
  1. Triggers when a Lead record is updated
  2. Checks if the Lead's "IsConverted" field just changed to true
     (Lead conversion is a built-in Salesforce process that creates an
      Account, Contact, and optionally an Opportunity from a Lead)
  3. If converted, creates a Task record assigned to the Opportunity owner
     with the subject "Schedule discovery call"

  Flow anatomy for non-Salesforce developers:
  - "processType: AutoLaunchedFlow" = runs in the background (no UI screens)
  - "triggerType: RecordAfterSave" = fires after a record is saved to the database
  - "recordTriggerType: Update" = specifically on record updates (not inserts)
  - "start" element defines the trigger criteria and entry conditions
  - "decisions" are if/else branch points
  - "recordCreates" perform DML inserts
  - Elements are connected via "connector" references (like a linked list of nodes)
  - "processMetadataValues" store builder configuration

  Why RecordAfterSave (not BeforeSave)?
  We need the ConvertedOpportunityId to be populated, which only happens
  AFTER the conversion transaction completes. BeforeSave wouldn't have it yet.
-->
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <fullName>Lead_Conversion_Task_Creation</fullName>
    <label>Lead Conversion - Create Discovery Call Task</label>
    <description>When a Lead is converted, automatically creates a Task assigned to the new Opportunity owner with subject "Schedule discovery call." Ensures converted leads don't fall through the cracks.</description>
    <apiVersion>65.0</apiVersion>
    <interviewLabel>Lead Conversion Task {!$Flow.CurrentDateTime}</interviewLabel>
    <processType>AutoLaunchedFlow</processType>
    <status>Active</status>

    <!--
      Trigger configuration:
      This Flow fires on Lead record updates. The "start" element defines:
      - Which object to watch (Lead)
      - When to fire (after save, on update)
      - Entry filter: only proceed if IsConverted changed to true
    -->
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_If_Opportunity_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsConverted</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Lead</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>

    <!--
      Decision: Did the conversion create an Opportunity?
      Lead conversion can optionally skip Opportunity creation, so we need
      to check if ConvertedOpportunityId is populated before trying to
      create a Task linked to the Opportunity.
    -->
    <decisions>
        <name>Check_If_Opportunity_Exists</name>
        <label>Check If Opportunity Exists</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <defaultConnectorLabel>No Opportunity</defaultConnectorLabel>
        <rules>
            <name>Has_Opportunity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ConvertedOpportunityId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Discovery_Call_Task</targetReference>
            </connector>
            <label>Has Opportunity</label>
        </rules>
    </decisions>

    <!--
      Action: Create the Task record
      In Salesforce, Tasks are the standard object for to-dos, follow-ups,
      and action items. They can be linked to any record via WhatId (for
      objects like Opportunity) or WhoId (for Contacts/Leads).

      Field mappings:
      - Subject: the task title shown in activity lists
      - WhatId: links the Task to the converted Opportunity
      - OwnerId: assigns the Task to the Opportunity owner
      - Status: "Not Started" is the default open status
      - Priority: "Normal" (vs. High or Low)
      - ActivityDate: due date — set to 2 days from now
      - Description: additional context for the task owner
    -->
    <recordCreates>
        <name>Create_Discovery_Call_Task</name>
        <label>Create Discovery Call Task</label>
        <locationX>264</locationX>
        <locationY>278</locationY>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Schedule discovery call</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.ConvertedOpportunityId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.ConvertedOpportunity.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>This lead was just converted. Schedule a discovery call with the prospect to understand their needs, timeline, and budget. Review the lead source and any notes from the SDR before reaching out.</stringValue>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
</Flow>
